

.back-button {
    margin-bottom: 20px; /* Space below the button */
    font-weight: bold; /* Emphasize button text */
}

.analytics-title {
    margin-bottom: 20px; /* Space below the title */
    color: #333; /* Dark color for better readability */
    font-weight: 600; /* Slightly bolder title */
}

.analytics-tabs {
    margin: 20px 0; /* Space above and below the tabs */
}

.analytics-content {
    margin-top: 20px; /* Space above the content area */
    padding: 15px; /* Padding inside the content area */

}
