body {
  font-family: 'Roboto', sans-serif;
}



@media (max-width: 600px) {
  .MuiTypography-h4 {
    font-size: 1rem; /* Smaller font size for mobile view */
  }
  .MuiButton-root {
    font-size: 0.65rem; /* Further reduce font size for mobile */
  }
  .MuiTableCell-root {
    font-size: 0.6rem; /* Further reduce table cell font size for mobile */
  }
}